:root {
  --blockSize: 2.33vw;
  --itemListBlocks: 10vw;
  --mousex: 0px;
  --mousey: 0px;
}

body {
  background-color: rgb(112, 112, 112);
  height: 97svh; 
}

.book {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(112, 112, 112);
  height: 95%;
  width: 99.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: rgb(112, 112, 112);
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gridPage {
  display: grid;
  grid-template-columns: repeat(20, var(--blockSize));
  grid-template-rows: repeat(15, var(--blockSize));
  padding: 1.3vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112, 112, 112);
  height: 100%;
  width: 100%;
}

.gridContainer .characterInfoFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 17, 17);
  width: 96%;
  height: 10%;
  border: #000000 outset 0.2vw;
  border-radius: 0.5vw 1vw 1vw 0.5vw;
}

.gridContainer .characterInfoFooter .infoBlock .portrait {
  height: 90%;
  object-fit: contain;
  border: rgb(89, 194, 89), 0.2vw groove;
  border-radius: 1vw;
}

.gridContainer .characterInfoFooter .infoBlock {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.gridContainer .characterInfoFooter .infoBlock.curWeight {
  width: 40%;
}

.gridContainer .characterInfoFooter .infoBlock.curWeight .maxWeightBar {
  background-color: #bdbdbd;
  height: 70%;
  width: 60%;
  display: flex;
  align-items: center;
  border-radius: 0.2vw 0.7vw 0.7vw 0.2vw;
}

.gridContainer .characterInfoFooter .infoBlock.curWeight .maxWeightBar .curWeightBar {
  background-color: rgb(38, 70, 35);
  height: 100%;
  width: 0%;
  display: flex;
  align-items: center;
}

.gridContainer .characterInfoFooter .infoBlock.curWeight .maxWeightBar .curWeightBar h3 {
  color: rgb(221, 221, 221);
  margin: 0.4vw;
}

.gridContainer .characterInfoFooter .infoBlock.title {
  width: 25%;
}

.gridContainer .characterInfoFooter .infoBlock button {
  font-size: 120%;
  font-family: Garamond, "Times New Roman", Times, serif;
  font-weight: bold;
}

.gridContainer .characterInfoFooter .infoBlock h3 {
  color: #d9d9d9;
}

.gridContainer .characterInfoFooter .infoBlock.curWeight .maxWeightBar .curWeightBar h3.overweight {
  color: #000000;
}

.gridContainer .characterInfoFooter .infoBlock.curWeight .maxWeightBar .curWeightBar h3.underweight {
  color: #000000;
}

.gridContainer .characterInfoFooter .infoBlock h2 {
  color: #d9d9d9;
}



.rotate {
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, 0%);
}

.objectIconPadder {
  width: 90%;
  height: 90%;
}

.objectIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gridBlock {
  background-color: #3f3f3f;
  border-width: 0.1vw;
  border-color: rgb(112, 112, 112);
  border-style: solid;
}

.gridBlock:hover {
  background-color: #505050;
}

.itemPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112, 112, 112);
  width: 100%;
  height: 100%;
  position: relative;
}

.itemList {
  display: grid;
  padding-top: 5%;
  padding-bottom: 5%;
  row-gap: 3vw;
  column-gap: 0vw;
  grid-template-columns: repeat(5, var(--itemListBlocks));
  grid-template-rows: repeat(auto-fit, var(--itemListBlocks));
  white-space: wrap;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  background-color: #3f3f3f;
  overflow-y: auto;
  overflow-x: hidden;
  width: 90%;
  border: 0.5svw ridge black;
}

.itemPage .buttonMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
  background-color: rgb(112, 112, 112);
  width: 90%;
  height: 10%;
  background-color: rgb(100, 100, 100);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-style: solid;
  border-width: 0.25vw;
  border-color: #3f3f3f;
  position: relative;
  border-radius: 1vw;
  overflow: visible;
}

.item:hover {
  z-index: 1;
}

.itemList .item:hover {
  transition: scale 0.14s ease-in-out;
  scale: 1.05;
}

.item .tooltip {
  opacity: 0;
  width: auto;
  min-width: 50px;
  background-color: #b3b3b3;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: 105%;
  transition: opacity 0.3s;
  font-family: "Courier New", Courier, monospace;
  pointer-events: none;
}

.item .sizeTooltip {
  opacity: 0;
  width: auto;
  min-width: 50px;
  background-color: #b3b3b3;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: -30%;
  transition: opacity 0.3s;
  font-family: "Courier New", Courier, monospace;
  pointer-events: none;
}

.item:hover .tooltip {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.item:hover .sizeTooltip {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.item .tooltip:focus {
  visibility: visible;
  opacity: 1;
}

.itemPage button {
  width: 25%;
  height: 100%;
  font-size: 200%; 
  font-family: Garamond, "Times New Roman", Times, serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contextMenu {
  display: flex;
  background-color: #222222;
  flex-direction: column;
  z-index: 2;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  top: var(--mousey);
  left: var(--mousex);
  opacity: 0;
  pointer-events: none;
}

/*.contextMenu*/ .option {
  background-color: #222222;
  width: 85px;
  height: 30px;
  line-height: 30px;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  padding-left: 3px;
  padding-right: 4px;
  user-select: none;
}

/*.contextMenu .option*/ .optionText {
  pointer-events: none;
}

/*.contextMenu*/ .option:hover {
  background-color: #3f3f3f;
}

/* .contextMenu .option */ .colourOption { 
  display: grid;
  grid-template-columns: repeat(8, 18px);
  width: fit-content;
  height: 30px;
  padding-right: 3px;
  translate: 89px -30px;
  background-color: #222222;
  opacity: 0;
  border-radius: 0px 4px 4px 0px;
}

/*.contextMenu .option*/ .quickInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  word-wrap: break-word;
  max-width: 500%;
  height: auto;
  padding-right: 10%;
  padding-left: 10%;
  translate: 89px -30px;
  background-color: #222222;
  opacity: 0;
  border-radius: 0px 4px 4px 0px;
  color: whitesmoke;
  font-size: 80%;
  font-family: "Courier New", Courier, monospace;
}

.contextMenu .option .quickInfo:hover {
  transition: scale 0.14s ease-in-out, transform 0.14s ease-in-out;
  scale: 1.1;
  transform: translateX(4.5%); 
}

/*.contextMenu .option .colourOption*/ .colour {
  justify-self: center;
  align-self: center;
  width: 15px;
  height: 20px;
  border-radius: 8px;
}

/*.contextMenu .option .colourOption*/ .colour:hover {
  transition: scale 0.1s ease-out;
  scale: 1.2;
}

.close {
  opacity: 0;
  pointer-events: none;
}

.open {
  opacity: 1;
  pointer-events: auto;
}

.pickup {
  pointer-events: none;
  border-width: 0.5vw;
  opacity: 0.6;
}

.place {
  pointer-events: auto;
  border-width: 0.25vw;
  opacity: 1;
}


