:root {
  --blockSize: 2.33vw;
  --itemListBlocks: 10vw;
  --mousex: 22px;
  --mousey: 22px;
}

body {
  background-color: black;
  height: 97svh; /*still don't know why this works*/
}

.book {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(36, 36, 36);
  height: 97svh;
  /* padding: 1%; */
}

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gridPage {
  display: grid;
  grid-template-columns: repeat(20, var(--blockSize));
  grid-template-rows: repeat(15, var(--blockSize));
  padding: 1.3vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.gridContainer {
  display: grid;
  background-color: rgb(112, 112, 112);
  height: 100%;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-style: outset;
  border-width: 0.25vw;
  border-color: black;
  position: static;
  top: var(--mousey);
  left: var(--mousex);
  border-radius: 1vw;
}

.objectIconPadder {
  width: 90%;
  height: 90%;
}

.objectIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gridBlock {
  background-color: #f1f1f1;
  border-width: 0.1vw;
  border-color: rgb(112, 112, 112);
  border-style: solid;
}

.itemPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.itemList {
  display: grid;
  padding: 1%;
  gap: 3.5vw;
  grid-template-columns: repeat(3, var(--itemListBlocks));
  grid-template-rows: repeat(auto-fit, var(--itemListBlocks));
  white-space: wrap;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  background-color: lightgray;
  overflow: auto;
  height: 70%;
  width: 90%;
}

.make {
  width: 90%;
  height: 15%;
  font-size: 200%;
}
.save {
  width: 90%;
  height: 15%;
  font-size: 200%;
}
